body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: white;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color:white;
	text-decoration: none;
}

.sidepadding{
	padding-left: 10%;
	padding-right: 10%;
}

.navbar{
	color: white;
	background-color: #804b4b;
	position: fixed;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 30;
}

.navbar input[type="submit"]{
	margin-top: -.2em;
}

.navbar ul{
	padding: 0;
	margin: 0;
	list-style: 0;
}

.navbar li{
	display: inline-block;
	padding-left: 1em;
	float: right;
}

.navbar li:first-child{
	float: left;
	padding-left: 0;
}

input[type="text"], input[type="password"] {
	color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
	font-family: 'Roboto', sans-serif;
    font-weight: 100;
    size: 5;
}

::-webkit-input-placeholder { 
  	color: white;
    font-weight: 100;
}
:-moz-placeholder { 
   color: white;
   font-weight: 100;
}
::-moz-placeholder { 
   color: white;
   font-weight: 100;
}
:-ms-input-placeholder {
   color: white;
   font-weight: 100;
}


input[type="submit"] {
    background-color: transparent;
    color: white;
    border: none;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1em;
    cursor: pointer; 
    display: inline;
}

input[type="submit"]:hover {
    background-color: white;
    color: #804b4b;
    border: none;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1em;
}

.bigform input[type="submit"]{
	float: right;
}

.verticalcenter{
	margin: 0;
   	position: absolute;               
   	top: 50%;                         
   	transform: translate(0, -50%);
   	width: 100%;	
	text-align: center;
}

.homestripe{
	font-size:3em;
	width: 100%;
	height: 50vh;
	text-align: center;
	-webkit-transition: height 300ms;
}

.homestripe.active{
	height: 100vh;
}

.ineed{
	background-color: #723737;
}

.iwant{
	background-color: #542c2c;
}

.bigform{
	padding-top: 4%;
	text-align: center;	
}

.bigform input[type="text"]{
	color: #804b4b;
	border-bottom: 2px solid white;
	font-size: 1em;
	font-weight: 100;
	color: white;
}

*:focus {
    outline: none;
}

.ineedform{
	padding-top: 5em;
}

.textwrapper{
	width: 250px;
	position: absolute;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	text-align: left;
	-webkit-transition: width 300ms;
	overflow: visible;
}

.textwrapper.active{
	width: 100%;
}

#ineedone, #ineedtwo, #ineedthree, #ineedfour, #iwantone, #iwanttwo, #iwantthree, #iwantfour{
	opacity: 0;
	-webkit-transition: opacity 300ms;
}

#ineedone.active, #ineedtwo.active, #ineedthree.active, #ineedfour.active, #iwantone.active, #iwanttwo.active, #iwantthree.active, #iwantfour.active{
	opacity: 1;
}