body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: white;
	line-height: normal;
}

a{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color:white;
	text-decoration: none;
}

.sidepadding{
	padding-left: 10%;
	padding-right: 10%;
}

.navbar{
	color: white;
	background-color: #291313;
	position: fixed;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 30;
}

.navbar input[type="submit"]{
	margin-top: -.2em;
}

.navbar ul{
	padding: 0;
	margin: 0;
	list-style: 0;
}

.navbar li{
	display: inline-block;
	padding-left: 1em;
	float: right;
}

.navbar li:first-child{
	float: left;
	padding-left: 0;
}

input[type="text"], input[type="password"], input[type="email"]{
	size: 5em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
	font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

::-webkit-input-placeholder { 
  	color: white;
    font-weight: 100;
    size: 5em;
    opacity: .1;
}
:-moz-placeholder { 
   color: white;
   font-weight: 100;
   size: 5em;
   opacity: .1;
}
::-moz-placeholder { 
   color: white;
   font-weight: 100;
   size: 5em;
   opacity: .1;
}
:-ms-input-placeholder {
   color: white;
   font-weight: 100;
   size: 5em;
   opacity: .1;
}


input[type="submit"] {
    background-color: transparent;
    color: white;
    border: none;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1em;
    /*cursor: pointer; */
    display: inline;
}

input[type="submit"]:hover {
    background-color: white;
    color: #804b4b;
    border: none;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1em;
}

.bigform input[type="submit"]{
	float: right;
	border: 2px solid white;
	font-size: .5em;
	font-weight: 100;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .75em;
	padding-right: .75em;
	margin-bottom: .5em;
}

.verticalcenter{
	margin: 0;
   	position: absolute;               
   	top: 50%;                         
   	transform: translate(0, -50%);
   	-o-transform: translate(0, -50%);
   	-moz-transform: translate(0, -50%);
   	-webkit-transform: translate(0, -50%);
   	width: 100%;	
	text-align: center;
}

.homestripe{
	font-size:3em;
	width: 100%;
	height: 50vh;
	text-align: center;
	-webkit-transition: height 300ms;
	transition: height 300ms;
	-o-transition: height 300ms;
	-moz-transition: height 300ms;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
}

.homestripe.active{
	height: 100%;
}

.ineed{
	background-color: #411C1C;
}

#ineed{
	top: 25vh;
	position: absolute;
	cursor: pointer;
}

.iwant{
	background-color: #4C2020;
}

#iwant{
	top: 20vh;
	position: absolute;
	cursor: pointer;
}

.bigform{
	padding-top: 4%;
	text-align: center;	
}

.bigform input[type="text"],input[type="email"],input[type="password"]{
	color: #804b4b;
	border-bottom: 2px solid white;
	font-size: 1em;
	font-weight: 100;
	color: white;
}

*:focus {
    outline: none;
}

.ineedform{
	/*padding-top: 5e*/m;
}

.textwrapper{
	width: 250px;
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-webkit-transform: translate3d(-50%, 0, 0);
	text-align: left;
	transition: width 300ms;
	-o-transition: width 300ms;
	-moz-transition: width 300ms;
	-webkit-transition: width 300ms;
}

.textwrapper.iwantform{
	width: 300px;
}

.textwrapper.active{
	width: 100%;
}

.ineedline, .iwantline{
	opacity: 0;
	display: none;
	-webkit-transition: opacity 400ms;
	transition: opacity 400ms;
	-o-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
}

.ineedline.active, .iwantline.active{
	opacity: 1;
}


.fullscreen{
	display: none;
}

.userexists,.usernoexist,.wantuserexists,.wantusernoexist{
	display: none;
}

.lightheader{
	opacity: .1;
}

li
{
	padding-bottom: 1em;
}

#pagetitle
{
	font-family: "Arvo", serif;
	padding: 0;
}