body{
	background-color: #4C2020;
	text-align: left;
}

.lightened{
	opacity: .3;
}

.lighter{
	opacity: .7;
}

p{
	text-align: left;
}


.results ul{
	margin: 0;
	padding: 0;
	list-style: square;
	text-align: left;
}

.results li{
	line-height: .8em;
}