<!DOCTYPE HTML>

<html>

<head>
	<title>sTudoring</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
	<div class="navbar">
		<div class="sidepadding">
		<form>
			<ul>
				<li> sTudoring </li>
				<li> <input type="submit" name="submit"> </input> </li>
				<li> password: <input type="password" name="password"> </input> </li>
				<li> username: <input type="text" name="username"> </input> </li>
			</ul>
		</form>
		</div>
	</div>
	<div class="ineed homestripe">
		<div class="bigform">
			<form>
				<p>I need help with <input type="text" name="class" placeholder="XXXX ####">.</p>
				<p>I am located at <input type="text" name="location" placeholder="location">.</p>
				<p>I am willing to pay <input type="text" name="howmuch" placeholder="$$$">.</p>
			</form>
		</div>
	</div>
	<div class="iwant homestripe">
		<div class="bigform secondform">
			<form>
				<p>I need want to tutor for <input type="text" name="class" placeholder="XXXX ####">.</p>
				<p>I am located at <input type="text" name="location" placeholder="location">.</p>
				<p>I am willing to get paid <input type="text" name="howmuch" placeholder="$$$">.</p>
			</form>
		</div>
	</div>
</body>

</html>
