<!DOCTYPE html>
<html>
<head>
	<title>Catches</title>
	<link rel="stylesheet" type="text/css" href="../static/style/foundation.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/style/style.css">
	<link rel="stylesheet" type="text/css" href="../static/style/style-matches.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
	
	{% if error %}
	<div class="alert-message block-message error">
	     {{ error }}
	</div>
	{% endif %}
	{% if full_name %}
	<div class="navbar">
		<div class="columns large-12 small-12" id="pagetitle">
		<form id="logout">
			<ul>
				<li> <a href="/"> sTudoring </a></li>
				<li> <input type="submit" name="submit">logout</input> </li>
				<li> Logged in as: {{full_name}}</li>
			</ul>
		</form>
		</div>
	</div>
	{% else %}
	<div class="navbar">
		<div class="row">
		<div class="columns large-12 small-12" id="pagetitle">
			<a href="/"> sTudoring </a>
		</div>
		</div>
	</div>


	{% endif %}
	<div class="homestripe ineed"> 
		<div class="row results">
			<br /><p>You have <span class="lighter">{{catches|length}}</span> potential tutee(s) in your area...</p>
				<ul>
					{% for catch in catches %}
					<li>{{ catch.full_name }}
						<br> <span class="lighter"> {{ catch.email }} </span>
						<br> <span class="lightened">posted on {{ catch.timestamp }}</span></li>
					{% endfor %}
				</ul>
		</div>

	</div>
</body>
</html>
