<!DOCTYPE HTML>

<html>

<head>
	<title>sTudoring</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#needsubmit1').click(function() {
				$.getJSON($SCRIPT_ROOT + '/_user_exists', {
					userName: $('#needemail').val()
				}, function(data) {
					if (data.result == true)
					{
						console.log("fuckall");
					}
				});
				return false;
			});
		});
	</script>
</head>

<body>
	{% if error %}
	<div class="alert-message block-message error">
	     {{ error }}
	</div>
	{% endif %}
	{% if full_name %}
	<div class="navbar">
		<div class="sidepadding">
		<form method="POST" id="logout">
			<ul>
				<li> sTudoring </li>
				<li> <input type="submit" name="submit">logout</input> </li>
				<li> Logged in as: {{full_name}}</li>
			</ul>
		</form>
		</div>
	</div>
	{% else %}
	<div class="navbar">
		<div class="sidepadding">
		<form method="POST" id="login">
			<ul>
				<li> sTudoring </li>
				<li> <input type="submit" name="submit" value="nav_login"> </input> </li>
				<li> password: <input type="password" name="nav_password"> </input> </li>
				<li> email: <input type="text" name="nav_email"> </input> </li>
			</ul>
		</form>
		</div>
	</div>
	{% endif %}
	<div class="ineed homestripe">
		<div class="bigform">
			<form method="POST" id="ineedhelp">
				<p>I need help with <input type="text" name="course" placeholder="XXXX ####">.</p>
				<p>I am located at <input type="text" name="locations" placeholder="location">.</p>
				<p>I am willing to pay <input type="text" name="offer" placeholder="$$$">.</p>
				<p>My Cornell email is <input type="email" name="email" id="needemail" placeholder="nec45@cornell.edu">
				<p><input type="submit" name="needsubmit1" id="needsubmit1" value="get_help"> </p>

				<!-- shown if account exists -->
				<p>My password is <input type="password" name="password" placeholder="secretpassword">.</p>

				<!-- shown if account doesn't exist -->
				<p>I want my password to be <input type="password" name="password1" placeholder="secretpassword">.</p>
				<p>Again, I want my password to be <input type="password" name="password2" placeholder="secretpassword">.</p>
			</form>
		</div>
	</div>
	<div class="iwant homestripe">
		<div class="bigform secondform">
			<form method="POST" id="iwanttohelp">
				<p>I want to tutor for <input type="text" name="expert_courses" placeholder="XXXX ####">.</p>
				<p>I am located at <input type="text" name="location" placeholder="location">.</p>
				<p>I am willing to get paid <input type="text" name="howmuch" placeholder="$$$">.</p>
				<p>My Cornell email is <input type="email" name="email" placeholder="nec45@cornell.edu">
				<p><input type="submit" name="wantsubmit1" value="help"> </p>

				<!-- shown if account exists -->
				<p>My password is <input type="password" name="password" placeholder="secretpassword">.</p>

				<!-- shown if account doesn't exist -->
				<p>I want my password to be <input type="password" name="password1" placeholder="secretpassword">.</p>
				<p>Again, I want my password to be <input type="password" name="password2" placeholder="secretpassword">.</p>
			</form>
		</div>
	</div>
</body>

</html>
