<!DOCTYPE HTML>

<html>

<head>
	<title>sTudoring</title>
	<link rel="stylesheet" type="text/css" href="../static/style/foundation.min.css" />
	<link rel="stylesheet" type="text/css" href="../static/style/style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#needsubmit1').click(function() {
				$.getJSON($SCRIPT_ROOT + '/_user_exists', {
					userName: $('#needemail').val()
				}, function(data) {
					console.log(data.result)
					$('#needsubmit1').hide();
					if (data.result == true)
					{
						$(".userexists").each(function(i){
				   			$(this).delay((i++)*timeDelay).fadeTo(300, 1);
				   		});
					} else {
						$(".usernoexist").each(function(i){
				   			$(this).delay((i++)*timeDelay).fadeTo(300, 1);
				   		});
					}
				});
				// $(".ineedline2").each(function(i){
		  //  			$(this).delay((i++)*timeDelay).fadeTo(300, 1);
		  //  		});
				return false;
			});

			$('#wantsubmit1').click(function() {
				$.getJSON($SCRIPT_ROOT + '/_user_exists', {
					userName: $('#wantemail').val()
				}, function(data) {
					console.log(data.result)
					$('#wantsubmit1').hide();
					if (data.result == true)
					{
						$(".wantuserexists").each(function(i){
				   			$(this).delay((i++)*timeDelay).fadeTo(300, 1);
				   		});
					} else {
						$(".wantusernoexist").each(function(i){
				   			$(this).delay((i++)*timeDelay).fadeTo(300, 1);
				   		});
					}
				});
				return false;
			});
		});
	</script>
</head>

<body>
	{% if error %}
	<div class="alert-message block-message error">
	     {{ error }}
	</div>
	{% endif %}
	{% if full_name %}
	<div class="navbar">
		<div class="columns large-12 small-12">
		<form id="logout">
			<ul>
				<li> <a href="index.html"> sTudoring </a></li>
				<li> <input type="submit" name="submit">logout</input> </li>
				<li> Logged in as: {{full_name}}</li>
			</ul>
		</form>
		</div>
	</div>
	{% else %}
	<div class="navbar">
		<div class="row">
		<div class="columns large-12 small-12">
		<form id="login">
			<ul>
				<li> <a href="index.html"> sTudoring </a> </li>
				<li> <input type="submit" name="submit" value="nav_login"> </input> </li>
				<li> password: <input type="password" name="nav_password"> </input> </li>
				<li> email: <input type="text" name="nav_email"> </input> </li>
			</ul>
		</form>
		</div>
		</div>
	</div>
	{% endif %}
	<div class="homestripe ineed"> 
		<div class="row">
		<div class="columns large-12 small-12">
		<div class="bigform ineedform textwrapper"> 
			<form method="POST">
				<p> <span id="ineed"> I need help </span> <span class="ineedline">with <input type="text" name="course" placeholder="XXXX ####">. </span> </p>
				<p> <span class="ineedline" id="ineed">I am located at <input type="text" name="location" placeholder="location">.</span> </p>
				<p> <span class="ineedline"> I am willing to pay <input type="text" name="offer" placeholder="$$$">.</span> </p>
				<p> <span class="ineedline"> My email is <input type="email" name="email" id="needemail" placeholder="nec45@cornell.edu"> </span> </p>
				<p> <input type="submit" name="needsubmit1" id="needsubmit1" class="ineedline" value="get_help"> </p>

				<!-- shown if account exists -->
				<p class="userexists"> <span class="ineedline2 lightheader"> Welcome back!</span></p>
				<p class="userexists"> <span class="ineedline2"> password: <input type="text" name="password" placeholder="secretpassword">. </span></p>
				<p class="userexists"> <span class="ineedline2"> <input type="submit" name="userexistssubmit" class="userexists ineedline"id="userexistssubmit" value="Submit"> </span> </p>

				<!-- shown if account doesn't exist -->
				<p class="usernoexist"> <span class="ineedline2 lightheader"> Looks like you're new here... </span></p>
				<p class="usernoexist"> <span class="ineedline2"> My Name is <input type="name" name="fullname" placeholder="Bob Rob">. </span> </p>
				<p class="usernoexist"> <span class="ineedline2"> My password will be <input type="password" name="password1" placeholder="secretpassword">.</span></p>
				

				<p class="usernoexist"> <span class="ineedline2"> <input type="submit" name="usernoexistsubmit" id="usernoexistsubmit" class="usernoexist ineedline" value="Submit"> </span> </p>

			</form>
		</div>
		</div>
		</div>
		</div>

	</div>
	
	<div class="homestripe iwant"> 
		<div class="row">
		<div class="columns large-12 small-12">
		<div class="bigform iwantform textwrapper"> 
			<form method="POST">
				<p> <span id="iwant">I want to tutor </span> <span class="iwantline">for <input type="text" name="expert_course" placeholder="INFO 2300">. </span> </p>
				<p> <span class="iwantline"> I am located at <input type="text" name="location" placeholder="Olin Library">.</span> </p>
				<p> <span class="iwantline"> I am willing to get paid <input type="text" name="howmuch" placeholder="$$$">. </span> </p>
				<p> <span class="iwantline"> My Cornell email is <input type="email" name="wantemail" id="wantemail" placeholder="br9000@cornell.edu">. </span> </p>
				<p> <input type="submit" name="wantsubmit1" id="wantsubmit1" value="Submit" class="iwantline"> </p>

				<!-- shown if account exists -->
				<p class="wantuserexists"> <span class="iwantline2 lightheader"> Welcome back! </span></p>
				<p class="wantuserexists"> <span class="iwantline2"> My password is <input type="password" name="password" placeholder="secretpassword">. </span> </p>
				<p class="wantuserexists"> <span class="iwantline2"> <input type="submit" name="wantuserexistssubmit" class="wantuserexists iwantline" id="wantuserexistssubmit" value="Submit"></p>

				<!-- shown if account doesn't exist -->
				<p class="wantusernoexist"> <span class="iwantline2 lightheader"> Looks like you're new here... </span></p>
				<p class="wantusernoexist"> <span class="iwantline2"> My name is <input type="text" name="fullname" placeholder="Bob Rob">. </span> </p>
				<p class="wantusernoexist"> <span class="iwantline2"> My password will be <input type="password" name="password1" placeholder="secretpassword">. </span> </p>
				

				<p class="wantusernoexist"><input type="submit" name="wantusernoexistsubmit" id="wantusernoexistsubmit" class="wantusernoexist iwantline" value="Submit"></p>


			</form>
		</div>
		</div>
		</div>
		</div>

	</div>
</body>

<script>

	var timeDelay = 800;

	jQuery(document).ready(function() {

	   	$( "#ineed" ).click(function() {
	   		$(".ineed").addClass("active");
	   		$(".ineedform").addClass("active");
	   		$(".ineedline").each(function(i){
	   			$(this).delay((i++)*timeDelay).fadeTo(500, 1);
	   		});
			$(".iwant").hide();
			$('body').css('background-color', '#723737');
		});

		$( "#iwant" ).click(function() {
	   		$(".iwant").addClass("active");
	   		$(".iwantform").addClass("active");
	   		$(".iwantline").each(function(i){
	   			$(this).delay((i++)*timeDelay).fadeTo(300, 1);
	   		});
			$(".ineed").hide();
			$('body').css('background-color', '#542c2c');
		});

	});
</script>

</html>
